body{
  color: #000;
  font-family: sans-serif;
}
.App {
min-height: 100vh;
background-image:url('https://cdn.pixabay.com/photo/2015/01/29/16/34/background-616360_960_720.jpg');
background-repeat: no-repeat;
background-size: cover;

}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 2px;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button{
  background-color: #303030;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
}
.recipes{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
 
}